/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend:wght@100..900&display=swap');
:root{
    --logo-color: #228B22;
    --options-color: #228B22;
    --add-to-cart: #44b844;
    --menu-font-color: #3b3b3b;
    --search-banner-bg: #A8E6CF;
    --white-color: #fff;
    --black-color: #202020;
    --category-bg-color: #fafafa;
    --testimonials-bg-color: #f6f6f656;
    --testimonials-box-color: #fff;
    --footer-bg-color: rgb(22, 29, 17);
    --grey-color: #858585;
    --download-section-color:#70c645;
}
*{
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/*------------Navigation--------------*/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 3px 10px;
    margin: 0px 15px;
    color: var(--menu-font-color);
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}

.logo {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    color: var(--black-color);
}

.logo .fa-leaf {
    color: var(--logo-color);
    margin-right: 10px;
}

.right-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.right-nav a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--options-color);
    position: relative;
}

.right-nav [class="profile"] {
    overflow: hidden;
}

.right-nav a i {
    color: var(--white-color);
}

.right-nav a span {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white-color);
    font-size: 0.6rem;
    font-weight: 500;
    background-color: var(--black-color);
}

.right-nav a img {
    width: 40px;
    height: 40px;
}

.menu li a:hover,
.menu .active {
    color: var(--options-color);
    transition: all ease 0.3s;
}

.mobile-header {
    display: none;
}
/*--------------Profile-drop-down--------*/

/*------------ Banner -----------------*/
.home{
    padding: 4.5rem 0 1.5rem;
}
.container{
    width: 100%;
    min-height: 500px;
    height: 100vh;
    position: relative;
    display: flex;
    background: rgb(2, 3, 7,0.5);
    z-index: 1;
}
.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(50%);
}

.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--white-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--options-color) !important;
}
.home-text{
    z-index: 1000;
    padding: 0 90px;
    position: absolute;
    width: 50%;
    top: 35%;
}
.home-text span{
    color: var(--white-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size:12px;
    border-radius: 3px;
    padding: 1px 3px;
}
.home-text h1{
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--logo-color);
    color: var(--white-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background: var(--add-to-cart);
}
/*------------ Category --------------*/

#category,
#products-section,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}

.category-heading,
.product-heading,
.partner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.category-heading h2,
.product-heading h2,
.partner-heading h3
{
    font-size: 1.56rem;
    font-weight: 700;
    color: var(--black-color);
    letter-spacing: 0.5px;
}

.category-subheading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: var(--options-color);
}

.category-heading span,
.product-heading span{
    color: var(--menu-font-color);
    font-weight: 400;
    letter-spacing: 1px;
}

.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--category-bg-color);
    border-radius: 20px;
    min-height: 120px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}

.category-box i{
    font-size: 2.5rem;
    color: var(--black-color);
    transition: all ease 0.1s;
}

.category-box span{
    color: var(--menu-font-color);
    font-size: 0.65rem;
    margin-top: 10px;
    font-weight: 400;
    transition: all ease 0.1s;
    text-align: center;
}
.category-box:hover{
    box-shadow: 0 0 5px  var(--options-color);
    transition: all ease 0.1s;
}
.category-box:hover i, 
.category-box:hover span{
    color: var(--options-color);
    transition: all ease 0.1s;
}

/* Product Section */
#product-section{
    margin: 80px auto;
}

.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}

.product-box{
    width: 100%;
    border: 1px solid #eeee;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.product-box img{
    width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

.product-box .product-info{
    display: flex;
    flex-direction: column;
}

.product-box .product-info .info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: var(--menu-font-color);
}

.product-box .product-info .info-header .label{
    font-size: 0.8rem;
}

.product-box .product-info .info-header .category{
    font-size: 0.65rem;
    background-color: grey;
    padding: 4px;
    border-radius: 4px;
    color: var(--white-color)
}

.product-box .product-info h3{
    color: var(--black-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 5px;
}

.product-box .product-info .quantity{
    color: var(--menu-font-color);
    font-size: 0.8rem;
    font-weight: 500;
}

.p-info-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-box .product-info .p-info-row .price{
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #393939;
}

.p-info-row .add-to-cart-btn{
    padding: 10px;
    background-color: var(--add-to-cart);
    color: var(--white-color);
    border-radius: 50%;
}

.p-info-row .add-to-cart-btn:hover{
    background-color: var(--options-color);

}

/* Testimonials */
#testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--testimonials-bg-color);
    margin-top: 40px 0px;
    padding: 80px 0px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.testimonials-heading h3{
    font-size: 1.56rem;
    color: var(--black-color);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.testimonials-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin-top: 40px;
}

.testimonials-box{
    background-color: var(--testimonials-box-color);
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 5opx rgba(0,0,0,0.05);
    border-radius: 30px;
}

.testimonial-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.profile-text strong{
    color: var(--menu-font-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.profile-text span{
    font-size: 0.8rem;
}

.rating{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.rating i{
    color: #ffcc0d;
}

.testimonials-box h3{
    text-align: center;
}

.testimonials-box p{
    color: #7c7c7c;
    text-align: center;
}

/***************/
#partner{
    margin: 100px auto;
}

.partner-heading{
    justify-content: center;
}

.logo-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.logo-container img{
    height: 55px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
    transition: all ease 0.3s;
}

.logo-container img:hover{
    filter: grayscale(0);
    opacity: 1;
    transition: all ease 0.3s;
}
/*------- Download Section ----------------*/
#download-app{
    max-width:1150px;
    width: 100%;
    background-color: var(--download-section-color);
    height: 400px;
    margin: 225px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-img{
    width: 275px;
    height: 550px;
    background-color: var(--white-color);
    border: 4px solid #393939;
    border-radius: 20px;
    overflow: hidden;
}

.app-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.download-app-text{
    max-width: 400px;
}
.download-app-text strong{
    color: #393939;
    font-size: 1.56rem;
}
.download-app-text p{
   color: #3b3b3b;
   margin: 15px 0px;
}
.download-btns{
    display: flex;
}
.download-btns a{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden; 
}

.download-btns a img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/************ Cart **********/
.sidebar{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -300px;
    background-color: var(--testimonials-box-color);
    box-shadow: -4px 0 6px rgba(0,0,0,0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar.open{
    right:0;
}
.sidebar-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.cart-tems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}
.individual-cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--black-color);
    border: 2px solid var(--search-banner-bg);
}
.cart-item-price{
    color: var(--black-color);
}
.sidebar--footer{
    position: absolute;
    bottom: 10px;
    width: 88%;
}
.total--amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--logo-color);
    border-radius: 5px;
    padding: 15px 10px;
}
.cart-total{
    font-size: 16px;
    color: var(--grey-color);
    font-weight: 500;
}
.checkout-btn{
    width: 100%;
    margin-top: 2rem;
    background-color: var(--logo-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}
.checkout-btn a, .checkout-btn a:hover{
    color:#f3f3f3;
}
.remove-item{
    background: var(--options-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 2px 8px;
    cursor: pointer;
    margin-left: 5px;
}
/********* Footer *********/
footer{
    background-color: var(--footer-bg-color);
    padding: 50px 20px;
}

.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo a{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 1px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a i{
    color: var(--logo-color);
    margin-right: 10px;
}

.footer-social{
    display: flex;
    margin-top: 10px;
}

.footer-social a i{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0px 5px;
}


.footer-social a:hover i{
    color: #228B22;
}

.footer-links strong{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-links ul{
    margin-top: 10px;
}

.footer-links ul li a{
    color: var(--white-color);
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}

.footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}

@media (max-width: 1200px){
    .home-text h1{
        font-size: 2.5rem;
    }
    .btn{
        font-size: 1.0rem;
    }
    #products-section, #download-app{
        width: 90%;
    }
}
@media (max-width: 1090px){
    #category,
    #partner{
        width: 90%;
    }
}

@media (max-width: 1030px){
    .category-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .category-box{
        margin: 10px;
    }
}
@media (max-width: 980px){
    .home-text{
        width: 75%;
    }
    .home-text h1{
        font-size: 2.0rem;
    }
    .testimonials-box-container{
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 930px){
    .product-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 850px){
    .navigation{
        position: sticky; 
        top: 0; 
        z-index: 100; 
        background-color: var(--white-color); 
        box-shadow: 0 0 4px rgb(14 55 54/15%);
    }
    .menu{
        display: none;
    }
    .mobile-header{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        padding: 25px 100px;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 0 4px rgb(14 55 54/15%);
    }
    .mobile-header ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .mobile-header li{
        text-align: center;
       
    }

    .mobile-header i, .mobile-header span{
        color: var(--black-color);
    }

    .mobile-header i{
        font-size: 25px;
    }

    .mobile-header .navbar li a:hover i, .mobile-header .navbar li a:hover span{
        color: var(--add-to-cart)
    }
    .mobile-header .navbar li a:active i, .mobile-header .navbar li a:active span{
        color: var(--logo-color)
    }

    .mobile-header span{
        font-size: 10px;
        text-transform: uppercase;
    }

    .logo-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-container img{
        margin: 10px 20px;
    }
    #download-app{
       display: none;
    }
   
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 100px;
    }

    .footer-links{
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 700px){
    .product-box .product-info h3{
        font-size: 0.9rem;
    }
}
@media (max-width: 625px){

    .product-box .product-info .info-header{
        flex-direction: column;
        justify-content: left;
        align-items: start;
        gap: 5px;
    }
    .no-mobile-display{
        display: none;
    }
    .mobile-header{
        padding: 25px 50px;
    }
    .home-text{
        width: 90%;
    }
    .home-text h1{
        font-size: 1.9rem;
    }
    .btn{
        font-size: 0.9rem;
        padding: 0.6rem 0.9rem;
    }
}

@media (max-width: 595px){
    .testimonials-box-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 550px){
    .mobile-header i{
        font-size: 20px;
    }
    .mobile-header ul{
        display: space-between;
    }
    .product-box .product-info h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
@media(max-width: 520px){
    .product-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 495px){
    .home-text{
        width: 100%;
    }
    .home-text h1{
        font-size: 1.5rem;
    }
}
@media(max-width: 430px){
    .mobile-header{
        padding: 25px;
    }
    .download-btns{
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
    }
}